            <div>
            <br/>
            <div class="row">
                <h1 class="text-center">Bienvenido a la librería</h1>
            </div>
            <br/>
            <br/>
            <div class="row text-center">

                <div class="col">

                    <a th:href="@{/libros/}" class="btn btn-outline-primary">Administrar Libros</a>

                </div>
                <div class="col">
                    <a th:href="@{/autores/}" class="btn btn-outline-success">Administrar Autores</a>

                </div>
                <div class="col">
                    <a th:href="@{/editoriales/}" class="btn btn-outline-danger">Administrar Editoriales</a>

                </div>
            </div>
            <br/>
            <br/>
            <br/>
        </div>