<!doctype html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/head :: head"></head>
    <body>
        <div class="container">
            <div th:replace="/fragments/botones :: div"></div>

            <div class="row">
                <h2 class="text-center">Autores</h2>
            </div>
            <br/>
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    <div class="row">
                        <table class="table text-center">
                            <tr>
                                <th>Nombre</th>
                                <th>Alta</th>
                                <th></th>
                            </tr>
                            <tr th:each="autor : ${autores}">
                                <td th:text="${autor.nombre}"></td>
                                <td th:text="${autor.alta}"></td>

                                <td>
                                    <a  th:href="@{/autores/__${autor.id}__(accion=Editar)}">Editar</a>
                                    <a  th:href="@{/autores/__${autor.id}__(accion=Eliminar)}">Eliminar</a>
                                </td>
                            </tr>
                        </table>

                    </div>
                    </br>
                    </br>
                    <div class="row">
                        <h3 class="text-center">Editar Autor</h3>
                        <form th:action="@{/autores/__${autor != null ? autor.id : 'autor is null' }__(accion=Editar)}" method="POST" >

                            <input type="hidden" name="${autor}"/>

                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre del Autor</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" th:value="${autor != null ? autor.nombre : 'autor is null' }">
                            </div>


                            <button type="submit" class="btn btn-outline-primary">Editar</button>
                        </form>



                    </div>



                </div>
                <div class="col"></div>

            </div>
        </div>

        <script th:replace="/fragments/bootstrapJS :: script"></script>

    </body>
</html>
