<!doctype html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <!--head-->
    <head th:replace="/fragments/head :: head"></head>
    <body>
        <div class="container">
            </br>
            <div class="row">
                <h1 class="text-center">Bienvenido a la librería</h1>
            </div>
            <br/>
            <div class="row text-center">
                <div th:if="${exito} != null" class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title">¡Éxito!</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
                <div th:if="${error} != null" class="card text-white bg-danger mb-3">
                    <div class="card-body">
                        <h5 class="card-title">¡Ups!</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
                <div class="col">

                    <a th:href="@{/libros/}" class="btn btn-outline-primary">Administrar Libros</a>

                </div>
                <div class="col">
                    <a th:href="@{/autores/}" class="btn btn-outline-success">Administrar Autores</a>

                </div>
                <div class="col">
                    <a th:href="@{/editoriales/}" class="btn btn-outline-danger">Administrar Editoriales</a>

                </div>
            </div>
        </div>

        <script th:replace="/fragments/bootstrapJS :: script"></script>

    </body>
</html>
